@using Kubrik.Models.Devices
@using Kubrik.Web.Components

<div class="bg-light">
    <div class="w-100 btn-group btn-group-sm mx-auto p-2" role="group" aria-label="Localizable selection">
        <button type="button" class="btn btn-primary border-0 w-100">Devices</button>
        <button type="button" class="btn btn-primary border-0 w-100">People</button>
        <button type="button" class="btn btn-primary border-0 w-100">All</button>
    </div>

    <div class="row">
        <div class="d-none d-md-block col-md-12">
            @foreach (var device in Devices)
            {
                <GridCard Name="@device.Name" Image="@(device.Type == DeviceType.Computer ? "computer.png" : "smartphone.png")"/>
            }
        </div>
    </div>
</div>
